@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #ffd028; /* The Safety Yellow */
  color: #1a1a1a; /* Industrial Black */
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Stop horizontal scrolling */
}

/* This creates the cool "Outline" text effect */
@layer utilities {
  .stroke-text {
    -webkit-text-stroke: 2px #1a1a1a;
    color: transparent;
  }
  .stroke-text:hover {
    color: #1a1a1a;
  }
}
